body{
	text-align: center;
}
#box{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid blue;
	background: orange;
	-webkit-border-radius:25px;
	/*-webkit-box-shadow: rgb(100,100,100) 5px 5px 8px inset; */
	-webkit-box-shadow: rgb(100,100,100) 5px 5px 8px;
}
#text{
	font: bold 30px Century Gothic;
}