body{
	text-align: center;
}
#box{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid blue;
	background: orange;
	outline: 7px solid red;
	/*-webkit-transform:scale(1,3);*/
	/*-webkit-transform:skew(30deg);*/
	-webkit-transform:rotate(45deg);
	/*-webkit-transform:translate(100px,200px);*/
	/*-webkit-transform:translate(100px,200px) rotate(30deg) scale(.8);*/
	
}
#text{
	font: bold 30px Century;
}