body{
	text-align: center;
}
#box{
	display: block;
	width: 500px;
	margin: 150px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid blue;
	background: yellow;
	-webkit-transition: -webkit-transform 2s;
}
#box:hover{
	-webkit-transform:rotate(45deg);
}
